* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #233246;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  background-color: white;
  min-width: 300px;
  min-height: 300px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}
